{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
    <h1>{{ program.title }} - Saison {{ season.number }}</h1>
    <h6>{{ season.year }}</h6>
    <p>{{ season.description }}</p>
    {% for episode in season.episodes %}
        <p>{{ loop.index }} / {{ episode.title }}</p>
        <a href="{{ path("program_episode_show", { program: program.id, season: season.id,
            episode: episode.id}) }}">Voir épisodes</a>
    {% endfor %}




    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}